*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ============== Nav bar =================== */

.navbar a.nav-link:not(.active){
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}
.navbar a.nav-link:not(a.nav-link.active):hover{
    color: var(--bs-info);
    border-bottom:2px solid var(--bs-primary);
    border-radius: 5px;
}

.brand-logo{
    animation: rotate 10s infinite linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
        filter: drop-shadow(1px 1px 3px tomato);
    }
    50%{
        filter: drop-shadow(1px 1px 3px transparent);

    }
    100%{
        transform: rotate(360deg);
        filter: drop-shadow(1px 1px 3px tomato);

    }
}
.carousel.slide,.carousel-inner,.carousel-item{
    max-height: 90vh;
}

.carousel-item img{
    height: 100%;
    position: relative;
}

.carousel-item::after{
    content: " ";
    background: linear-gradient(transparent, #1111116d 70%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -80px;
    z-index: 1;
}

.carousel-caption {
    top: 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.carousel-indicators [data-bs-target]{
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #E85A4F;
    border: 2px solid #EAE7DC;
}
.carousel-indicators [data-bs-target].active{
    scale: 1.3;
}

/* =====================  About Section  ================ */

#about h4{
    color: var(--bs-cyan );
    /* border-bottom: 2px solid var(--bs-primary); */
}
#about h4 span{
    border-bottom: 3px double var(--bs-primary);
}

#track{
    flex-grow: 1;
}